body{
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
    display: flex;
    margin: 0px;
    text-decoration: none; 
    justify-content: center;
}
.header {
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    background-color: gray;
    border-style: outset;
    width: 60%;
    font-size: 1vw;
    box-shadow: 3px 3px 3px black;
  }
  .groupie-tracker {
    text-shadow: 10px 6px 4px darkgray;
    margin-top: 100px;
    font-size: 5vw;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 100px;
  }
.index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
    width: 80%;
    align-items: center;
}
.custom-link {
    text-decoration: none; 
    color: #333; 
    font-weight:bold;

}

.custom-link:hover {
    text-decoration:underline;
}
.custom-link-end {
    text-decoration: none; 
    color: rgb(170, 170, 170); 
    font-weight:bold;
}
.artist {

    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    
    flex-direction: row;
    text-align: center;
    font-size: 30px;
    
}
.artistMain {
    display: flex;
    padding-right: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.arrow a, 
.arrow div
{
    font-size: 7vw;
    text-decoration: none; 
    color: #333; 
    font-weight:bold;
    
}
.arrow a:hover { 
    text-decoration:underline; 

} 
.main {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.imageArtist {
    width: 50vh;
    padding: 3%;
}
.imageArtist img {
    border: 3px solid black;
    border-radius: 15px;    
    width: 100%;
}
.id {
    display: none;
}